<footer class="footer_container"> 
    <div class="footer">
        <div class="left_content">
            <img class="logo" src="/assets/icons/moodspace-logo.svg"></img>
            <p>Moodspace</p>
        </div>
        <div class="center_content">
            <svg class="footer_links" ="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40" fill="none">
                <path d="M36.6668 20C36.6668 10.8 29.2002 3.33337 20.0002 3.33337C10.8002 3.33337 3.3335 10.8 3.3335 20C3.3335 28.0667 9.06683 34.7834 16.6668 36.3334V25H13.3335V20H16.6668V15.8334C16.6668 12.6167 19.2835 10 22.5002 10H26.6668V15H23.3335C22.4168 15 21.6668 15.75 21.6668 16.6667V20H26.6668V25H21.6668V36.5834C30.0835 35.75 36.6668 28.65 36.6668 20Z" fill="#333333"/>
            </svg>
            <svg class="footer_links" xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40" fill="none">
                <path d="M20 3.33496C29.2133 3.33496 36.665 10.7866 36.665 20C36.665 29.2133 29.2133 36.665 20 36.665C10.7866 36.665 3.33496 29.2133 3.33496 20C3.33496 10.7866 10.7866 3.33496 20 3.33496ZM16.9526 28.7848C24.3329 28.7848 28.3801 22.6664 28.3801 17.3574V16.8336C29.1657 16.2622 29.8561 15.548 30.3799 14.7386C29.6657 15.0481 28.88 15.2623 28.0706 15.3814C28.9038 14.8814 29.5466 14.0958 29.8323 13.1673C29.0467 13.6196 28.1896 13.9529 27.2849 14.1434C26.5469 13.3578 25.4994 12.8816 24.3567 12.8816C22.1426 12.8816 20.3333 14.691 20.3333 16.905C20.3333 17.2145 20.3571 17.524 20.4523 17.8097C17.1193 17.6431 14.1434 16.048 12.1674 13.6196C11.8341 14.2148 11.6198 14.9052 11.6198 15.6433C11.6198 17.0241 12.3341 18.262 13.4054 18.9763C12.7388 18.9763 12.1198 18.7858 11.596 18.4763V18.5239C11.596 20.4761 12.9769 22.095 14.81 22.4759C14.4767 22.5711 14.1196 22.6187 13.7625 22.6187C13.5006 22.6187 13.2625 22.5949 13.0007 22.5473C13.5006 24.1424 15.0005 25.309 16.7384 25.3328C15.3576 26.4041 13.6196 27.0469 11.7389 27.0469C11.4056 27.0469 11.0961 27.0469 10.7866 26.9993C12.5483 28.142 14.6672 28.8086 16.9288 28.8086" fill="#333333"/>
            </svg>
            <svg class="footer_links" xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40" fill="none">
                <path d="M20.0002 3.33337C17.8115 3.33337 15.6442 3.76447 13.6221 4.60205C11.6 5.43963 9.76269 6.66728 8.21505 8.21493C5.08944 11.3405 3.3335 15.5798 3.3335 20C3.3335 27.3667 8.11683 33.6167 14.7335 35.8334C15.5668 35.9667 15.8335 35.45 15.8335 35V32.1834C11.2168 33.1834 10.2335 29.95 10.2335 29.95C9.46683 28.0167 8.3835 27.5 8.3835 27.5C6.86683 26.4667 8.50016 26.5 8.50016 26.5C10.1668 26.6167 11.0502 28.2167 11.0502 28.2167C12.5002 30.75 14.9502 30 15.9002 29.6C16.0502 28.5167 16.4835 27.7834 16.9502 27.3667C13.2502 26.95 9.36683 25.5167 9.36683 19.1667C9.36683 17.3167 10.0002 15.8334 11.0835 14.65C10.9168 14.2334 10.3335 12.5 11.2502 10.25C11.2502 10.25 12.6502 9.80004 15.8335 11.95C17.1502 11.5834 18.5835 11.4 20.0002 11.4C21.4168 11.4 22.8502 11.5834 24.1668 11.95C27.3502 9.80004 28.7502 10.25 28.7502 10.25C29.6668 12.5 29.0835 14.2334 28.9168 14.65C30.0002 15.8334 30.6335 17.3167 30.6335 19.1667C30.6335 25.5334 26.7335 26.9334 23.0168 27.35C23.6168 27.8667 24.1668 28.8834 24.1668 30.4334V35C24.1668 35.45 24.4335 35.9834 25.2835 35.8334C31.9002 33.6 36.6668 27.3667 36.6668 20C36.6668 17.8113 36.2357 15.6441 35.3982 13.622C34.5606 11.5999 33.3329 9.76257 31.7853 8.21493C30.2376 6.66728 28.4003 5.43963 26.3782 4.60205C24.3561 3.76447 22.1889 3.33337 20.0002 3.33337Z" fill="#333333"/>
            </svg>
        </div>
        <div class="right_content">
            <a href="/">Home</a>
            <a href="/spaces">Space</a>
        </div>
    </div>
    <p>© Lance Malaga, Yanjun Liu & Daniella Dela Cruz 2024</p>
</footer>