<nav>
    <main class="navigation">
        <h1 class="title">Gallery</h1>
        <div class="nav">
            <a class="nav_button" href="/">
                HOME
            </a>
            <a class="nav_button" href="/spaces">
                SPACES
            </a>
        </div>
    </main>
</nav>