:root{
    --black: #333333;
    --orange: #FD8121;
    --white: #FFF9F1;
}


@font-face {
    font-family: "Wilden";
    src: url("/assets/fonts/Wilden.ttf");
}

@font-face {
    font-family: "Nanum Gothic";
    src: url("/assets/fonts/NanumGothic-Regular.ttf");
}

body {
    margin: 0;
    background-color: var(--white);
    height: 100vh;
}
button {
    cursor: pointer;
    border: none;
    background-color: transparent;
}
* {
    padding: 0;
    margin: 0;
}
textarea, input, select {
    border: none;
    background-color: #F9F0E3;
    padding: 15px 25px;
    border-radius: 16px;
    font-size: 14px;
}

.star_icon path {
    transition: 0.5 fill ease-in-out;
}
.star_icon:hover path {
    fill: #FFD600;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 8px;
    max-width: 1240px;
    margin: 0 auto;
}
.item1 { grid-area: 1 / 1 / 2 / 2; }
.item2 { grid-area: 1 / 2 / 2 / 3; }
.item3 { grid-area: 2 / 1 / 4 / 2; }
.item4 { grid-area: 2 / 2 / 4 / 3; }
.item5 { grid-area: 1 / 3 / 3 / 4; }
.item6 { grid-area: 1 / 4 / 3 / 5; }
.item7 { grid-area: 3 / 3 / 4 / 4; }
.item8 { grid-area: 3 / 4 / 4 / 5; }
.item9 { grid-area: 4 / 1 / 6 / 3; }
.item10 { grid-area: 4 / 3 / 6 / 4; }
.item11 { grid-area: 4 / 4 / 6 / 5; }
.item12 { grid-area: 6 / 1 / 7 / 2; }
.item13 { grid-area: 6 / 2 / 7 / 3; }
.item14 { grid-area: 6 / 3 / 7 / 4; }
.item15 { grid-area: 7 / 1 / 9 / 2; }
.item16 { grid-area: 7 / 2 / 9 / 4; }
.item17 { grid-area: 6 / 4 / 9 / 5; }

.item {
    position: relative;
    height: fit-content;
    display: inline-block;
}
.item__img {
    border-radius: 20px;
    display: block;
}
.item__overlay {
    position: absolute;
    width: -webkit-fill-available;
    height: -webkit-fill-available;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.3);
    top: 0;
    opacity: 0;
    transition: 0.3s all ease-in-out;
    cursor: pointer;
    padding: 20px;
    display: flex;
    align-items: flex-end;
    font-family: "Nanum Gothic";
}
.item__overlay:hover {
    opacity: 1;
}
.item__overlay div {
    display: flex;
    color: white;
    width: -webkit-fill-available;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
    font-weight: bold;
}

.form_overlay {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.5);
}
.form_container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
}
.form {
    display: flex;
    background-color: #FFF9F1;
    border-radius: 24px;
}
.form #item__img {
    border-radius: 24px 0 0 24px;
    object-fit: cover;
}
.form__content {
    padding: 25px 25px 40px;
    display: flex;
    flex-direction: column;
    min-width: 400px;
}
.form .close_btn {
    margin-left: auto;
}
.form h4 {
    font-size: 36px;
    margin: 10px 0;
}
.form textarea {
    margin: 50px 0 15px;
}
.form .select_area {
    display: flex;
    gap: 15px;
}
.form .select_area select {
    width: 100%;
}
.form .submit_btn {
    background-color: #FD8121;
    color: white;
    font-size: 32;
    border-radius: 24px;
    padding: 13px 15px;
}

/* header styles */

.header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 48px 0px;
    gap: 8px;
}

.header p{
    font-family: "Wilden";
    font-size: 31px;
    color: var(--black);
    margin: 0;
}

/* navigation styles */

.navigation{
    height: 184px;
    background-color: var(--orange);
    margin: 0 auto;
    margin-bottom: 40px;
    max-width: 1240px;
    border-radius: 24px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    gap: 340px;
}

.title{
    font-family: "Wilden";
    font-size: 153px;
    color: var(--white);
    padding: 15px 57px;
    margin: 0;
}

.nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.nav_button{
    border: 2px solid var(--black);
    border-radius: 80px;
    font-size: 36px;
    color: var(--black);
    text-align: center;
    font-family: "Wilden";
    width: 176px;
    height: 48px;
    transition: .5s ease-in-out;
    letter-spacing: 0;
    text-decoration: none;
    margin: 0;
    padding-top: 5px;
}

.nav_button:hover{
    border: 2px solid var(--black);
    color: var(--black);
    background-color: var(--white);
    /* font-family: "Wilden"; */
    transition: .5s ease-in-out;
    letter-spacing: 5px;
    text-decoration: none;
}

.nav_button a{
    margin: 0;
    padding-top: 5px;
}

/* spaces styles */

.spaces{
    margin: 0 auto;
    max-width: 1240px;
    margin-bottom: 200px;
}

.spaces_gallery{
    margin: 0px auto;
    max-width: 1240px;
    height: max-content;
}


.category{
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: baseline;
    gap: 12px;
    margin-top: -40px;   
    font-family: "Nanum Gothic";
    margin-bottom: 48px;
}

.category_section{
    display: block;
    height: max-content;
    margin-bottom: 350px;
}

.category_section2{
    display: block;
    height: max-content;
    margin-bottom: 350px;
}

.items_container{
    position: relative;
    width: 284px;
}

.item_grid{
    position: relative;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 8px;
    grid-row-gap: 8px;
    position: relative;
    width: 284px;
    height: 282px;
}

.item_grid2{
    position: relative;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 8px;
    grid-row-gap: 8px;
    position: relative;
    width: 284px;
    height: 282px;
}

.item_grid_overlay{
    position: absolute;
    bottom: 0;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5); /* Black see-through */
    color: #f1f1f1;
    width: 244px;
    transition: .5s ease;
    opacity:0;
    color: white;
    font-size: 20px;
    padding: 20px;
    text-align: left;
    height: 243px;
    border-radius: 16px;
    font-family: "Nanum Gothic";
}

.item_grid_overlay:hover, .item_grid:hover{
    opacity: 1;
}

.actions{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 12px;
}

.item_name{
    margin-top: 190px;
}

.item_grid img{
    display: block;
    width: 284px;
    height: 282px;
    object-fit: cover;
    border-radius: 16px;
    background-size: cover;
}

.item_grid2 img{
    display: block;
    width: 284px;
    height: 282px;
    object-fit: cover;
    border-radius: 16px;
    background-size: cover;
}

.living_images{
    display: block;
  width: 100%;
  height: auto;
}


.space_title{
    font-family: "Nanum Gothic";
    font-size: 20px;
}

.space_description{
    font-family: "Nanum Gothic";
    font-size: 14px;
    color: rgba(51, 51, 51, 0.35);
}

.close_btn_spaces {
    margin-right: auto;
}